:host
{
    --border-color: rgb(205 205 205);

    display: grid;
    border: solid 1px var(--border-color);
}
@media (prefers-color-scheme: dark) 
{
    :host
    {
        --border-color: rgb(81 81 81);
    }
}

#navigation
{
    border-right: solid 1px var(--border-color);
}
#categories > ::slotted(*)
{
    padding: var(--category-padding, 5px 15px);
}

#gallery
{
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    /* gap: 1em; */
    user-select: none;
    overflow: auto;
}

#gallery-header
{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    border-bottom: solid 1px var(--border-color);
}

#items
{
    padding: 0;
    margin: 0;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--item-width, minmax(0, 100px)));
    /* grid-column-gap: var(--column-gap, 1em);
    grid-row-gap: var(--row-gap, 1em); */
}


::slotted(:not([slot]))
{
    border: solid 1px transparent;
    margin: 3px 7px;
}

::slotted(:not([slot]):focus)
{
    border-color: rgb(205 205 205);
}
::slotted(:not([slot]):hover)
{
    background-color: var(--background-color-hover, rgb(221, 221, 221));
}
::slotted(:not([slot]).selected)
{
    background-color: var(--background-color-selected, highlight);
    color: var(--color-selected, highlighttext);
}
@media (prefers-color-scheme: dark) 
{
    ::slotted(:not([slot]):hover)
    {
        --background-color-hover: rgb(197, 197, 197);
    }
}

#add-button
{
    display: inline-flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    padding: 3px 7px;
    margin: 3px 7px;
    max-height: 80px;
    max-width: 100px;
}


@media (max-width: 800px) 
{
    
}
@media (min-width: 800px) 
{
    :host
    {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}